{% extends "layout.html" %}
{% block body %}
<br />
<br />
<div class="row">
<div class="span6 offset3">
<form class="form-horizontal" id="db" method=post>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Debug DB</button>
    </div>
  </div>
</form>
</div>
</div>

<div class="row">
<div class="span6 offset3">
<form class="form-horizontal" id="current_user" method=post>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Current User</button>
    </div>
  </div>
</form>
</div>
</div>
{% endblock %}
