{% extends "layout.html" %}
{% block body %}
<img src="http://i.imgur.com/yN0sn.jpg"
<p>
July 27th, 2012 marked our 6th year of being together. We started the
morning by going to breakfast at a diner down on 4th avenue in Berkeley.
It was turning out to be a cold morning; the clouds were lingering
overhead. The wait was long for us to get a seat inside, but it was well
worth it. After absorbing the warmth from the diner grills and eating
every last morsel of pancake, we headed back home to make our picnic.
Once home, I tried to act as non-chalant as I could; keeping track of the
time every chance I got when she wasn't looking. A friend would
be waiting for us on the headlands to photograph our proposal.
</p>
<p>
We left the apartment and began our drive to the headlands. Glancing
over, I could see that the clouds were going to be a problem this
morning. I just hoped that we would be able to see the bridge. When
we finally drove up the hill, parking was packed. I did my best not to
panic and told Emily, "We'll just go one more pass to see if any open
up." I was determined to find a place to park, and thankfully, a small parallel
spot opened up. Finally, everything had gone according to plan. Emily
and I walked to our usual spot, right in front of the bunkers overlooking
the bridge. Emily insisted on being right up next to the fence, but I
eventually convinced her to join me further back, to a specific spot
I had chosen. I had waited so long for this moment that I couldn't
possibly wait any longer. I got down on one knee, and asked her to marry
me. To be honest, I can't even remember what I said, all that mattered
was that she said yes!
</p>
<p>
We sat and enjoyed our lunch as much as we could, but the wind had picked
up and it was getting cold up on the hills. We decided to go into the city
and walk around downtown, just enjoying each other's company.
I had one last surprise for her waiting at home; both of our families were
waiting in our apartment to join us for dinner. Dinner was a fantastic
celebration and end of the day for us. For us, family is everything, and
to be able to include them was one of the most rewarding parts for me.
</p>
{% endblock %}
