{% extends "story_page.html" %}
{% block jstory %}
<p>
It's often a subject of dispute, but I remember Em from when
we were both Freshmen at Napa High. We didn't talk much at first;
I was a rowdy trumpet dweeb and she was a flute girl. I think we
really started becoming friends our Junior year, when we were both
putting a lot of time in to help with the band.
</p>
<p>
  Emily and I first started dating after high school. We had become
  friends through the high school marching band and became close as
  our time at Napa High came to an end. After we graduated, the years of
  our friendship blossomed into something incredible that I could
  never have anticipated. I fell for Emily, harder and faster than
  I ever thought possible. We spent years living in different cities,
  but we always took time out of our busy schedules to drive and see
  each other and spend all the time that we could together.
</p>
<p>
  After a few years of attending separate community colleges, we both
  transferred to UC Davis.
</p>
<p>
  After graduating from UCD, Emily and I decided to move in together
  in Berkeley so I could be close to the job I had gotten.
  After living together for almost a year in Berkeley, the day that
  would mark six years of being together came. This was the day I
  had been planning for over a year to propose. I had a sound job and
  a place that we both called home so I decided to buy a ring.
</p>
{% endblock %}