{% extends "layout.html" %}
{% block body %}
<img src="http://i.imgur.com/nVEV4.jpg">
<div class="row">
<div class="span6">
<h4>According to Emily</h4>
<p>
So this is how I remember it...
He was so very handsome and friendly. And though we only
had one class together, all those hours in band were enough
to sway me. 
</p>
<strong>And then...</strong>
<p>
The Jack Ramey asked me to prom! How could I say no?! 
After picking out the perfect dress with my mom, and spending
hours getting my hair done he arrived at the house to pick me
up. As we drove off to meet our party bus group I had to remind
him to roll up his window in that old pickup... I think he was
nervous about the date - I nervous was about my hair :) We both
had a great night dancing and believe me I was the lucky one with
the hot date.
</p>
<p>
Senior year at Napa High flew by as we planned a senior trip to
Germany with plenty of our good friends. And as we began to spend all
of our time together it became obvious - I didn't want to lose
contact with Jack when we got back. To my delight we decided to
date when we got back and it all fell into place. 
</p>
<strong>After that...</strong>
<p>
A couple years, a few miles, and a lot of late nights passed as we
transitioned from two different JC's to UC Davis. At the university
I would go visit his LAN parties and he would accompany me to my
department BBQ's. We enjoyed spending every moment together from
studying at lunch or a drive by kiss on our bikes between classes. 
</p>
<strong>The propostion...</strong>
<p>
Jack had received a wonderful job offering and I was still in
transition from graduation. He said lets move out together and we'll
figure everything else out after. This was the moment that I decided
I wanted to move in with him because I knew nothing would make me
happier. We found an amazing apartment and have loved every minute of it since.
</p>
<strong>The moment of truth...</strong>
<p>
I've been told you just know- so for months before I knew Jack would
ask me to marry him -or maybe I was just dreaming. Either way, the day
before our 7th anniversary I had talked to my cousin Sarah and said 'Jack
is just acting strange but I'm not going to push anything because I dont
want to make it awkward on our date tomorrow"; I talked to Natasha and
said "He definitely got a haircut for no reason." Well guess what - there
was a reason! 
</p>
<p>
We went to breakfast and walked around Berkeley in the morning, came
back to pack our picnic lunch. And after rushing to wait, I decided I
may as well paint my nails for our date, anything could happen;) Then we
head to the Marin Headlands, find parking and being to walk in that brisk
wind to our spot. Again, trying to not to spoil a possible surprise I
refrained from smiling too much in my geeky "I think I know" smile. As
he calls me over from the looking at the water he begins to get nervous,
red, and starts to talk while grabbing the ring from his pocket. Genius!
That's the one spot I didn't think to look on my scope of the car the
morning of! Anyways honestly I was so excited I don't remember his exact
words other than ....................."will you marry me?" 
In all the times I had dreamt of this moment and pictured it in my head
I had never answered the question until then out loud "yes." 
</p>
<p>
<strong>To be continued ...  \<3 </strong>
</div>
<div class="span6">
<h4>According to Jack:</h4>
<p>
Emily and I were friends throughout high school but we really started to
connect our senior year. Through band and our exchange trip to Germany we
developed an amazing friendship.
</p>
</div>
</div>

{% endblock %}
