{% extends "layout.html" %}
{% block body %}
<div class="row-fluid">
    <div class="span6 tc">
        <img src="{{ url_for('static', filename='img/em.jpg') }}" width=250><br />
        <h3 class="nomargin">Emily</h3>
        <p class="muted">Bride</p>
        <div class="row-fluid">
            <a href="{{ url_for('weddingparty_info', name='Jenna') }}" class="span4">
            <div class="tc active">
                <img src="{{ url_for('static', filename='img/jenna.jpg') }}"><br />
                <h4 class="nomargin">Jenna</h4>
                <p class="muted">Bridesmaid</p>
            </div>
            </a>
            <a href="{{ url_for('weddingparty_info', name='Bea') }}" class="span4">
            <div class="tc">
                <img src="{{ url_for('static', filename='img/bea.jpg') }}"><br />
                <h4 class="nomargin">Bea</h4>
                <p class="muted">Bridesmaid</p>
            </div>
            </a>
            <a href="{{ url_for('weddingparty_info', name='Natasha') }}" class="span4">
            <div class="tc">
                <img src="{{ url_for('static', filename='img/natasha.jpg') }}"><br />
                <h4 class="nomargin">Natasha</h4>
                <p class="muted">Maid of Honor</p>
            </div>
            </a>
        </div>
    </div>
    <div class="span6 tc">
        <img src="{{ url_for('static', filename='img/jack.jpg') }}" width=250><br />
        <h3 class="nomargin">Jack</h3>
        <p class="muted">The Groom</p>
        <div class="row-fluid">
            <a href="{{ url_for('weddingparty_info', name='Nathan') }}" class="span4">
            <div class="tc">
                <img src="{{ url_for('static', filename='img/nathan.jpg') }}"><br />
                <h4 class="nomargin">Nathan</h4>
                <p class="muted">Best Man</p>
            </div>
            </a>
            <a href="{{ url_for('weddingparty_info', name='Dan') }}" class="span4">
            <div class="tc">
                <img src="{{ url_for('static', filename='img/dan.jpg') }}"><br />
                <h4 class="nomargin">Dan</h4>
                <p class="muted">Groomsman</p>
            </div>
            </a>
            <a href="{{ url_for('weddingparty_info', name='Justin') }}" class="span4">
            <div class="tc">
                <img src="{{ url_for('static', filename='img/justin.jpg') }}"><br />
                <h4 class="nomargin">Justin</h4>
                <p class="muted">Groomsman</p>
            </div>
            </a>
        </div>
    </div>
<!-- End of row -->
</div>
{% if name  %}
<div class="hero-unit">
<h3>{{ profile.fname }} "{{ profile.nname }}" {{ profile.lname }}</h3>
<p><strong>Location:</strong> {{ profile.loc }}</p>
<p><strong>Description:</strong> {{ profile.desc }}</p
<!-- End of container -->
</div>
{% endif %}
{% endblock %}
