{% extends "layout.html" %}
{% block body %}
<img src="http://i.imgur.com/wZYbr.jpg">
<div class="container">
<!-- Progress bar, countdown to wedding day -->
<div class="progress {{ barstyle }} progress-striped">
    <div class="bar" style="width: {{ percent }}%"></div>
</div>
<h4 class="tc">{{ days }} days until July 20th, 2013</h4>
<!-- If a user is logged in allow them to add content -->
{% if user.is_admin() %}
<br />
<form action="{{ url_for('news') }}" method=post>
    <div class="controls">
        <textarea class="field span6" name="post" placeholder="New Post"
                  rows="4"></textarea>
    </div>
    <div class="controls">
        <button type="submit" class="btn">Submit</button>
    </div>
</form>
{% endif %}
<!--endif-->
{% for post in posts %}
<div class="row">
<div class="span4">
<h3 class="nomargin">{{ post.date.strftime('%B %d, %Y') }}</h3>
<h5 class="snugglup muted">By: {{ post.author.displayname }}</h5>
</div>
{% if user.is_admin() %}
<form action="{{ url_for('post_delete', post_id=post.id) }}" method=post>
<button class="btn btn-danger" type=submit id={{ post.id }}>Delete</button>
</form>
{% endif %}
</div>
<div class="row">
<div class="span12">
<p>{{ post.body }}</p>
</div>
</div>
{% endfor %}
{% endblock %}

