/*!
 * Author: Jack Ramey
 *
 * CSS style designed to accompany Twitter Bootstrap CSS
 * framework.
 *
 */
.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.nomargin {
    margin: 0;
}

.primary {
    height: 600px;
}

.snugglup {
    margin-top: -5px;
}

.less-padding {
    padding: 0px 20px;
}

a.nolinkstyle:link {
    color: inherit;
    text-decoration: none;
}
a.nolinkstyle:visited {
    color: inherit;
    text-decoration: none;
}
a.nolinkstyle:active {
    color: inherit;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -mox-border-radius: 4px;
    border-radius: 4px;
}
a.nolinkstyle:hover {
    color: inherit;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -mox-border-radius: 4px;
    border-radius: 4px;
}

a.nolinkstyle .active {
    background-color: #ccc;
    color: inherit;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -mox-border-radius: 4px;
    border-radius: 4px;
}


